.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 2%;
    padding: 2%
}
.productName{
    color: rgb(63, 106, 224);
    font-weight: 400;
}

.mainButton{
    background-color: goldenrod;
    padding: 10px;
    width: 150px;
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
}